---
layout: compress
---

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
{% include header.html %}
</head>
<body>
{% include topNavi.html %}
<div id="main">
  <h2><span class="title">{{ page.title }}</span></h2>
  <span class="post_info"><i class="fa fa-calendar" aria-hidden="true"></i>{{ page.date | date_to_string }}{% if page.comments %} • <i class="fa fa-comments" aria-hidden="true"></i><a href="{{ site.url }}{{ page.url }}#disqus_thread">0 Comments</a>{% endif %}</span>
  <div id="post_content">
    {{ content }}
  </div>
    <div class='pageNavi'>
    {% if page.previous %}
    <a class="prevPost" href="{{ site.url }}{{ page.previous.url }}">&laquo; {{ page.previous.title | truncatewords:5 }}</a>
    {% endif %}
    {% if page.next %}
    <a class="nextPost" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title | truncatewords:5 }} &raquo;</a>
    {% endif %}
    <br /><br />
  </div>
  {% include disqus.html %}  
</div>
<center>{% include footer.html %}</center>
<script id="dsq-count-scr" src="//{{ site.disqus_shortname }}.disqus.com/count.js" async></script>
</body>
</html>
